html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%
}
table {
    width: 100%;
    height: 100%;
    border-spacing: 10px 20px;
    text-align: center;
    table-layout: fixed;
}
.header {
    height: 10%;
}
.header td {
    background: #e69705;
}
.content1 {
    height: 45%;
    background: #f7f721; 
}
.content2 {
    height: 30%;
}
.content2 td {
    background: #504ad4;
}
.footer {
    height: 15%;
}
.footer td {
    background: #dbdbdb;
}